body {
	background: #f5f5f5;
}

header {
	background: url('./images/punchcard_banner_mobile_400.jpg');
	-webkit-background-size: auto;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 212px;
}

.mini-nav {
	height: 42px;
    width: 46px;
	position: fixed;
	bottom: 8px;
	right: 10px;
	padding-top: 8px;
	text-align: center;
	border-radius: 4px;
	display: none;
	cursor: pointer;
	z-index: 1;
}

#mini-nav-to-top {
	opacity: 0.7;
}

#arrow-up {
	font-size: 46px;
    position: fixed;
    bottom: -10px;
    right: 18px;
}

#mini-nav-menu {
	height: 160px;
	width: 80px;
	position: fixed;
	bottom: 8px;
	right: 10px;
	border-radius: 4px;
	display: none;
	z-index: 2;
}

#mini-nav-menu ul {
	margin: 0;
}

#mini-nav-menu li {
	padding: 8px;
}

.visible {
	display: block !important;
}

.section {
	padding-top: 4vw;
	padding-bottom: 4vw;
}

.parallax-container,
.parallax {
	max-height: 300px;
}

.btn {
	margin-top: 20px;
}

.page-footer li {
	margin-bottom: 8px;
}

/*////////////////////// media queries //////////////////////////*/

/* mobile-style navbar max-width is 992px */

@media screen and (min-width: 353px) {
	header {
		background: url('./images/punchcard_banner_mobile_520.jpg');
		-webkit-background-size: auto;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 256px;
	}
}

/* header for large mobile */
@media screen and (min-width: 389px) {
	header {
		background: url('./images/punchcard_banner_mobile_540.jpg');
		-webkit-background-size: auto;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 260px;
	}
}

/* header for small tablets */
@media screen and (min-width: 601px) {
	header {
		background: url('./images/punchcard_banner.jpg');
		-webkit-background-size: auto 100%;
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 334px;
	}
}

/* header for medium tablets */
@media screen and (min-width: 786px) {
	header {
		background: url('./images/punchcard_banner_816.jpg');
		-webkit-background-size: auto;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 382px;
	}
}

/* header bumps up in size temporarily for medium
tablets to line-up with the mobile-style navbar */
@media screen and (min-width: 937px) {
	header {
		background: url('./images/punchcard_banner_897.jpg');
		-webkit-background-size: auto;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 418px;
	}
}

/* header for large tablets */
@media screen and (min-width: 993px) {
	header {
		background: url('./images/punchcard_banner_816.jpg');
		-webkit-background-size: auto;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 382px;
	}
}

/* header for medium laptops */
@media screen and (min-width: 1072px) {
	header {
		background: url('./images/punchcard_banner_1032.jpg');
		-webkit-background-size: auto;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 468px;
	}
}

/* header for large laptops up to 4k */
@media screen and (min-width: 1364px) {
	header {
		background: url('./images/punchcard_banner_1380.jpg');
		-webkit-background-size: auto;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 602px;
	}
}

/* parallax adjusted for tablets and mobile */
@media screen and (max-width: 820px) {
	.parallax-container,
	.parallax {
		max-height: 160px;
	}
}

@media screen and (max-width: 580px) {
	.parallax-container,
	.parallax {
		max-height: 100px;
	}
}

@media screen and (max-width: 400px) {
	.parallax-container,
	.parallax {
		max-height: 80px;
	}
}

/* hide mini-nav button on smaller screens */
@media screen and (max-width: 992px) {
	#mini-nav-btn {
		display: none !important;
	}
}

/* have navbar solid color and fixed
	to top of window for smaller screens*/
@media screen and (max-width: 992px) {
	.nav-wrapper {
		position: fixed;
		top: 0;
		z-index: 1;
		background: #212121 !important;
	}
}
