/* mobile styles start at 992px wide */

.mini-nav {
	height: 42px;
    width: 46px;
	position: fixed;
	bottom: 8px;
	right: 10px;
	padding-top: 8px;
	text-align: center;
	border-radius: 4px;
	display: none;
	cursor: pointer;
	z-index: 1;
}

#mini-nav-to-top {
	opacity: 0.7;
}

#arrow-up {
	font-size: 46px;
    position: fixed;
    bottom: -10px;
    right: 18px;
}

#mini-nav-menu {
	height: 160px;
	width: 80px;
	position: fixed;
	bottom: 8px;
	right: 10px;
	border-radius: 4px;
	display: none;
	z-index: 2;
}

#mini-nav-menu ul {
	margin: 0;
}

#mini-nav-menu li {
	padding: 8px;
}

.visible {
	display: block !important;
}

header {
	background: url('images/univac.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 500px;
}

.section {
	padding-top: 4vw;
	padding-bottom: 4vw;
}

.parallax-container,
.parallax {
	max-height: 300px;
}

.btn {
	margin-top: 20px;
}

.page-footer li {
	margin-bottom: 8px;
}

/*////////////////////// media queries //////////////////////////*/

/* header for mobile */
@media screen and (max-width: 670px) {
	header {
		min-height: 250px;
	}
}

/* parallax adjusted for tablets and mobile */
@media screen and (max-width: 820px) {
	.parallax-container,
	.parallax {
		max-height: 160px;
	}
}

@media screen and (max-width: 580px) {
	.parallax-container,
	.parallax {
		max-height: 100px;
	}
}

@media screen and (max-width: 400px) {
	.parallax-container,
	.parallax {
		max-height: 80px;
	}
}

/* hide mini-nav button on smaller screens */
@media screen and (max-width: 992px) {
	#mini-nav-btn {
		display: none !important;
	}
}

/* have navbar fixed to top of window for smaller screens*/
@media screen and (max-width: 992px) {
	.nav-wrapper {
		position: fixed;
		top: 0;
		z-index: 1;
	}

}
