body {
	background: #f0f0e3;
}

header {
	background: url('./images/punchcard_banner_mobile_400.jpg');
	-webkit-background-size: auto;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 212px;
}

nav {
	font-family: Comfortaa, Verdana, sans-serif;
}

nav ul a {
	font-size: 1.15rem;
}

nav ul a:hover {
    background-color: #1a1a1a;
}

.brand-logo span {
	color: #d2d2d2;
}

.burger {
	background: transparent;
	border: none;
	cursor: pointer;
	color: #9c27b0;
}

.burger:focus {
	background: transparent;
}

.mobile-menu {
	padding-left: 24px;
	position: fixed;
	top: 0;
	width: 100%;
	height: 226px;
	box-shadow: 0 2px 2px #9e9e9e;
	z-index: 1;
	display: none;
	animation-name: drop-down-sm-phone;
	animation-duration: 0.2s;
}

.mobile-menu ul {
	margin-top: 56px;
}

.mobile-menu li {
	padding: 24px 0 0 5px;
}

.mobile-menu li a {
	font-size: 1.25rem;
	font-family: Comfortaa, Verdana, sans-serif;
	color: #c2185b;
	animation-name: appear;
	animation-duration: 0.6s;
}

.mini-nav {
	height: 42px;
    width: 46px;
	position: fixed;
	bottom: 8px;
	right: 10px;
	padding-top: 8px;
	text-align: center;
	border-radius: 4px;
	display: none;
	cursor: pointer;
	z-index: 1;
}

#mini-nav-to-top {
	opacity: 0.7;
}

#arrow-up {
	font-size: 46px;
    position: fixed;
    bottom: -10px;
    right: 18px;
}

#mini-nav-menu {
	height: 160px;
	width: 80px;
	position: fixed;
	bottom: 8px;
	right: 10px;
	border-radius: 4px;
	display: none;
	z-index: 2;
}

#mini-nav-menu ul {
	margin: 0;
}

#mini-nav-menu li {
	padding: 8px;
}

.visible {
	display: block !important;
}

.section {
	padding-top: 4vw;
	padding-bottom: 4vw;
}

.parallax-container,
.parallax {
	max-height: 300px;
}

.btn {
	margin-top: 20px;
}

.page-footer li {
	margin-bottom: 8px;
}

/* change materialize form field color */
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-color: #c2185b;
	box-shadow: none;
}

/* change materialize form icon and label color */
.input-field .active {
	color: #ad1457 !important;
}

/* change chrome autofill background color */
input:-webkit-autofill,
textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 30px #f0e3e9 inset !important;
    transition: 0s !important;
}

/*////////////////////// animations ////////////////////////////*/
@keyframes drop-down-sm-phone {
	from {height: 0px;}
	to {height: 226px;}
}

@keyframes drop-down-lg-phone {
	from {height: 0px;}
	to {height: 264px;}
}

@keyframes drop-down-sm-tablet {
	from {height: 0px;}
	to {height: 348px;}
}

@keyframes drop-down-med-tablet {
	from {height: 0px;}
	to {height: 396px;}
}

@keyframes drop-down-bigger-med-tablet {
	from {height: 0px;}
	to {height: 420px;}
}

@keyframes appear {
	from {opacity: 0;}
	to {opacity: 1;}
}

/*////////////////////// media queries //////////////////////////*/

/* mobile-style navbar max-width is 992px */

/* header for medium phones and mobile-nav-dropdown
for medium and large phones */
@media screen and (min-width: 353px) {

	header {
		background: url('./images/punchcard_banner_mobile_520.jpg');
		-webkit-background-size: auto;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 256px;
	}

	.mobile-menu {
		padding-left: 24px;
		position: fixed;
		top: 0;
		width: 100%;
		height: 264px;
		box-shadow: 0 2px 2px #9e9e9e;
		z-index: 1;
		display: none;
		animation-name: drop-down-lg-phone;
		animation-duration: 0.2s;
	}

	.mobile-menu ul {
		margin-top: 60px;
	}

	.mobile-menu li {
		padding: 28px 0 0 8px;
	}
	
}

/* header for large phones */
@media screen and (min-width: 389px) {
	header {
		background: url('./images/punchcard_banner_mobile_540.jpg');
		-webkit-background-size: auto;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 260px;
	}
}

/* header and mobile-nav-dropdown for small tablets */
@media screen and (min-width: 601px) {

	header {
		background: url('./images/punchcard_banner.jpg');
		-webkit-background-size: auto 100%;
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 334px;
	}

	.mobile-menu {
		padding-left: 24px;
		position: fixed;
		top: 0;
		width: 100%;
		height: 348px;
		box-shadow: 0 2px 2px #9e9e9e;
		z-index: 1;
		display: none;
		animation-name: drop-down-sm-tablet;
		animation-duration: 0.25s;
	}

	.mobile-menu ul {
		margin-top: 72px;
	}

	.mobile-menu li {
		padding: 40px 0 0 28px;
	}
}

/* header and mobile-nav-dropdown for medium tablets */
@media screen and (min-width: 786px) {

	header {
		background: url('./images/punchcard_banner_816.jpg');
		-webkit-background-size: auto;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 382px;
	}

	.mobile-menu {
		padding-left: 24px;
		position: fixed;
		top: 0;
		width: 100%;
		height: 396px;
		box-shadow: 0 2px 2px #9e9e9e;
		z-index: 1;
		display: none;
		animation-name: drop-down-med-tablet;
		animation-duration: 0.25s;
	}

	.mobile-menu ul {
		margin-top: 80px;
	}

	.mobile-menu li {
		padding: 50px 0 0 40px;
	}
}

/* header and drop-down bump up in size temporarily for
medium tablets to line-up with the mobile-style navbar */
@media screen and (min-width: 937px) {

	header {
		background: url('./images/punchcard_banner_897.jpg');
		-webkit-background-size: auto;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 418px;
	}

	.mobile-menu {
		padding-left: 24px;
		position: fixed;
		top: 0;
		width: 100%;
		height: 420px;
		box-shadow: 0 2px 2px #9e9e9e;
		z-index: 1;
		display: none;
		animation-name: drop-down-bigger-med-tablet;
		animation-duration: 0.25s;
	}

	.mobile-menu ul {
		margin-top: 90px;
	}

	.mobile-menu li {
		padding: 50px 0 0 56px;
	}
}

/* header for large tablets */
@media screen and (min-width: 993px) {
	header {
		background: url('./images/punchcard_banner_816.jpg');
		-webkit-background-size: auto;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 382px;
	}
}

/* header for medium laptops */
@media screen and (min-width: 1072px) {
	header {
		background: url('./images/punchcard_banner_1032.jpg');
		-webkit-background-size: auto;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 468px;
	}
}

/* header for large laptops up to 4k */
@media screen and (min-width: 1364px) {
	header {
		background: url('./images/punchcard_banner_1380.jpg');
		-webkit-background-size: auto;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: bottom;
		height: 602px;
	}
}

/* parallax adjusted for tablets and mobile */
@media screen and (max-width: 820px) {
	.parallax-container,
	.parallax {
		max-height: 160px;
	}
}

@media screen and (max-width: 580px) {
	.parallax-container,
	.parallax {
		max-height: 100px;
	}
}

@media screen and (max-width: 400px) {
	.parallax-container,
	.parallax {
		max-height: 80px;
	}
}

/* make sure mobile nav never displays
on non-mobile screens */
@media screen and (min-width: 993px) {
	.mobile-menu {
		display: none !important;
	}
}

/* hide mini-nav button on smaller screens */
@media screen and (max-width: 992px) {
	#mini-nav-btn {
		display: none !important;
	}
}

/* have navbar solid color and fixed
	to top of window for smaller screens*/
@media screen and (max-width: 992px) {
	.nav-wrapper {
		position: fixed;
		top: 0;
		z-index: 2;
		background: #212121 !important;
	}
}
